<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Layouts!</title>
  </head>
  <body>
  <div id="header">
    <h1>Header</h1>
    <h2>Subtitle</h1>
  </div>
  <div id="navigation">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Videos</a></li>
      <li><a href="#">Pricing</a></li>
      <li><a href="#">Something</a></li>
      <li><a href="#">Something More...</a></li>
      <li><a href="#">Something even more...</a></li>
    </ul>
  </div>
  <div class="content">
    <h3>Coffee Ipsum</h3>
    <p>Donec pellentesque semper enim eleifend consectetur. Cras purus arcu, semper quis tortor sit amet, rutrum venenatis tortor. Aliquam efficitur blandit pretium. Sed lectus leo, pharetra a congue nec, pellentesque vitae elit. Vivamus sodales, ipsum eget sagittis convallis, nibh neque vulputate enim, ac fermentum ante turpis et ligula. Nulla nec felis laoreet, ullamcorper nunc eu, sagittis sem. Vestibulum sit amet sem a dui molestie maximus et sit amet magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <div class="content">
    <h3>Coffee Ipsum</h3>
    <p>Donec pellentesque semper enim eleifend consectetur. Cras purus arcu, semper quis tortor sit amet, rutrum venenatis tortor. Aliquam efficitur blandit pretium. Sed lectus leo, pharetra a congue nec, pellentesque vitae elit. Vivamus sodales, ipsum eget sagittis convallis, nibh neque vulputate enim, ac fermentum ante turpis et ligula. Nulla nec felis laoreet, ullamcorper nunc eu, sagittis sem. Vestibulum sit amet sem a dui molestie maximus et sit amet magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <div class="content">
    <h3>Coffee Ipsum</h3>
    <p>Donec pellentesque semper enim eleifend consectetur. Cras purus arcu, semper quis tortor sit amet, rutrum venenatis tortor. Aliquam efficitur blandit pretium. Sed lectus leo, pharetra a congue nec, pellentesque vitae elit. Vivamus sodales, ipsum eget sagittis convallis, nibh neque vulputate enim, ac fermentum ante turpis et ligula. Nulla nec felis laoreet, ullamcorper nunc eu, sagittis sem. Vestibulum sit amet sem a dui molestie maximus et sit amet magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <div id="lastcontent">
    <h3>Coffee Ipsum</h3>
    <p>Donec pellentesque semper enim eleifend consectetur. Cras purus arcu, semper quis tortor sit amet, rutrum venenatis tortor. Aliquam efficitur blandit pretium. Sed lectus leo, pharetra a congue nec, pellentesque vitae elit. Vivamus sodales, ipsum eget sagittis convallis, nibh neque vulputate enim, ac fermentum ante turpis et ligula. Nulla nec felis laoreet, ullamcorper nunc eu, sagittis sem. Vestibulum sit amet sem a dui molestie maximus et sit amet magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  </body>
</html>
